{% extends 'common/base.html' %}
{% load static %}

{% block style_code %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <div class="container"></div>
    <div
      class="btn_group"
      draggable="true"
      style="
        background-size: 100%;
        background-position: center;
        margin-bottom: 500px;
        background-repeat: no-repeat;">
      <div class="container title">
        <div class="row">
          <div class="title bg-white p-10 my-100 col-md-10">
            <h3 class="display-3" style="font-family: Noto Sans KR, sans-serif;">관광지 맛집 추천리스트</h3>
            <div class="title_menu">
              <a
                href="#STOP"
                class="btn btn-outline-primary h-10 title_button1"
                id="title_About_us" style="font-family: Noto Sans KR, sans-serif;"
                >About us</a
              ><a
                href="options/date_opt"
                class="btn btn-outline-primary title_button2" style="font-family: Noto Sans KR, sans-serif;"
                >&nbsp; &nbsp;Weather&nbsp; &nbsp; &nbsp;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div id="STOP">
              <h1 style="font-family: Jua, sans-serif; margin-bottom: 50px;">About us</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h2 class="" style="font-weight: bold;">서비스 기획 배경</h2>
              </div>
              <div class="col-md-4">
                <h2 class="" style="font-weight: bold;">기대 효과</h2>
              </div>
              <div class="col-md-4">
                <h2 class="" contenteditable="true" style="font-weight: bold;">프로젝트 구성원</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="font-family: Noto Sans KR, sans-serif;">
          <div class="col-md-4 p-3 shadow-lg">
            <p>1.사회적 거리두기가 해제되면서 관광객증가</p>
            <p>- 관광객의 선택에 날씨 기후는 중요한 요소</p>
            <p>2.코로나로 감염불안감이 대두됨에 따라</p>
            <p>안전에 대한 관심도 증가</p>
            <p>- 혼잡하지 않은 장소 선호</p>
          </div>
          <div class="col-md-4 p-3 shadow-lg">
            <p>1. 관광객 분산 유도</p>
            <p>2. 감염불안감 해소 가능</p>
            <p>3. 효율적 관광정보 서비스 제공</p>
          </div>
          <div class="col-md-4 p-3 shadow-lg">
            <p>DS 박준수(팀장)</p>
            <p>DS 김태현</p>
            <p>DS 이중훈</p>
            <p>DE 홍효정(파트장)</p>
            <p>DE 김민석</p>
            <p>DE 유승종</p>
          </div>
        </div>
      </div>
    </div>
    <div class="end_table">
      <div class="container">
        <div class="row" style="font-family: Noto Sans KR, sans-serif;">
          <div class="col-lg-3 col-6 p-3">
            <h5><b>5조</b></h5>
            <ul class="list-unstyled">
              <li>그래서 언제 떠나조?</li>
            </ul>
          </div>
          <div class="col-lg-3 col-6 p-3">
            <h5><b>대표 번호</b></h5>
            <ul class="list-unstyled">
              <li>010 - 1234 - 5678</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 p-3">
            <h5><b>기획 의도</b></h5>
            <ul class="list-unstyled">
              <li>
                코로나 여파로 정체되어있었던 서울 시내 관광지 및 맛집 활성화
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 p-3">
            <h5>타겟층</h5>
            <ul class="list-unstyled">
              <li>혼잡한 지역을 피하고자 하는분</li>
              <li>반대로 인기있는 지역을 찾는분</li>
            </ul>
          </div>
          <div
            class="col-md-12 d-flex align-items-center justify-content-between my-2"
          >
            <i
              class="d-block fa fa-facebook-official text-muted fa-lg mr-2"
            ></i>
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
            <i
              class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"
            ></i>
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="end_end">
      <div class="col-md-12 text-center">
        <p class="mb-0 mt-2">© production date :2022. 11.</p>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 button_bottom">
            <a href="#" class="btn btn-primary">맨위로</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
